body{
    display: grid;
    background-color: #BDD8F1;
}


main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 60px);
    padding: 10px;
    gap: 10px;
    margin: 0 auto;
    width: 95%;
}

h1.name_error{
    font-weight: normal;
    unicode-bidi: normal;
    animation-duration: 3s;
    animation-name: slidein;
    grid-area: 4 / 3 / 7 / 6;
    display: flex;
    align-items: center;
    font-size: 256px;
    margin: 0;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

h2.mensaje_error{
    font-weight: normal;
    unicode-bidi: normal;
    grid-area: 7 / 3 / 8 / 12;
    font-size: 64px;
    display: flex;
    align-items: center;
    margin: 0;
}

button{
    font-size: 24px;
    background-color: #82A6CB;
    grid-area: 9 / 8 / 10 / 10;
    border: none;
}

@media only screen and (max-width: 1000px) {

    main{
        grid-template-rows: repeat(9, 60px);

    }

    h1.name_error{
        grid-area: 2/2/4/8;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 128px;
        margin: 0;
    }



    h2.mensaje_error{
        grid-area: 4 / 2 / 5 / 11;
        font-size: 32px;
        display: flex;
        align-items: center;
        margin: 0;
    }


    button{
        font-size: 24px;
        background-color: #82A6CB;
        grid-area: 8 / 5 / 9 / 9;
        border: none;
    }

}