@import "header.css";
@import "footer.css";

html, body{
    min-width: fit-content;
    margin: 0;
    background-color: #BDD8F1;
    display: flex;
    flex-direction: column;

}

a{
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}
p{
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}

main{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 60px);
    padding: 10px;
    gap: 10px;
    margin: 0 auto;
}
/*
main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px repeat(11, 60px);
    padding: 10px;
    gap: 10px;
    margin: 0 auto;
}*/


.iniciar_sesion{
    grid-column: 10;
    justify-content: end;
    justify-items: center;
}
div.crear_cuenta{
    grid-area: 2 / 4 / 11 / 10;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(14, 1fr);
    border-radius: 30px;
    background-color: #82A6CB;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    min-width: 700px;
    min-height: 100%;
}

div p.crear_cuenta{
    font-size: 48px;
    grid-area: 2 / 2 / 4 / 6;
}

div p.text_email{
    grid-area: 3 / 2 / 6 / 4;
    font-size: 32px;
    width: 100%;
}

input.email{
    grid-area: 5 / 2 / 6 / 6 ;
    width: 100%;
    height: 50%;
}

div p.usuario{
    grid-area: 6 / 2 / 7 / 4;
    font-size: 32px;
    width: 100%;
}

input.usuario{
    grid-area: 7 / 2 / 8 / 6 ;
    width: 100%;
    height: 50%;
}

div p.contrasenia{
    grid-area: 8 / 2 / 9 / 3;
    font-size: 32px;
}

input.contrasenia{
    grid-area: 9 / 2 / 10 / 6 ;
    width: 100%;
    height: 50%;
}

input.terminos{
    grid-area: 10 / 2 / 11 / 2 ;
    height: 50%;
}

button{
    font-size: 24px;
    grid-area: 12 / 3 / 13 / 5;
    width: 100%;
    background-color: #3667A6;
    color: #FFFFFF;
    border: none;
}
p.terminos{
    font-size: 20px;
    grid-area: 10 / 3 / 11 / 6 ;
    width: 100%;
}
a.crear_cuenta{
    text-align: center;
    grid-area: 13 / 3 / 14 / 5;
    width: 100%;
    font-size: 24px;
}

@media only screen and (max-width: 550px) {

    input{
        font-size: 24px;
    }

    main{

        margin-bottom: 7%;
        min-width: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 800px;
        padding: 10px;
        gap: 10px;
    }

    div.crear_cuenta{
        position: absolute;
        top: 20%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(14, 1fr);
        border-radius: 30px;
        background-color: #82A6CB;
        /*justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;*/
    }

    div p.crear_cuenta{
        font-size: 64px;
        grid-area: 2 / 2 / 4 / 6;
    }

    div p.text_email{
        grid-area: 4 / 2 / 5 / 4;
        font-size: 40px;
        width: 100%;
    }

    input.email{
        grid-area: 5 / 2 / 6 / 6;
        width: 100%;
        height: 50%;
    }

    div p.usuario{
        grid-area: 6 / 2 / 7 / 3;
        font-size: 40px;
        width: 100%;
    }

    input.usuario{
        grid-area: 7 / 2 / 8 / 6;
        width: 100%;
        height: 50%;
    }

    div p.contrasenia{
        width: 100%;
        grid-area: 8 / 2 / 9 / 4;
        font-size: 40px;
    }

    input.contrasenia{

        grid-area: 9 / 2 / 10 / 6;
        width: 100%;
        height: 50%;
    }

    textarea.mensaje{
        grid-area: 8 / 2 / 9 / 6;
        width: 100%;
        height: 100%;
    }

    button{
        font-size: 24px;
        grid-area: 12 / 3 / 13 / 5;
        width: 100%;
        background-color: #3667A6;
        color: #FFFFFF;
        border: none;
    }

}