footer{
    position: fixed;
    flex-grow: 3;
    display: grid;
    grid-template-columns: repeat(9, 1fr) 2fr;
    background-color: #82A6CB;
    gap: 10px;
    width: 100%;
    min-height: 50px;
    min-width: 700px;
    max-height: 50px;
    bottom: 0;

}

footer.dark-mode{
    background-color: #1a1a2e;
}

.contacto.dark-mode{
    color: #e0e0e0;
}

.contacto{
    grid-column: 10;
    justify-content: end;
    justify-items: center;
}
