header{
    display: grid;
    grid-template-columns: 2fr repeat(8, 1fr) 2fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
    min-width: 700px;
    background-color: #82A6CB;
    gap: 10px;
}

.iniciar_sesion{
    grid-column: 10;
    justify-content: end;
    justify-items: center;
}


.titulo{
    font-size: 50px;
}
