@import "header.css";
@import "footer.css";
@import "body.css";

a{
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}

p{
    margin: 0px;
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}

main{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 60px);
    padding: 20px;
    gap: 10px;
    margin: 0 auto;
}

section{
    margin: 5px;
    border-radius: 30px;

}

section.foto{
    display: grid;
    grid-template-rows: 1fr 10%;
    grid-template-columns: 1fr;
    grid-area: 1 / 1 / 11 / 4;
    background-color: #3667A6;
    background: url("../img/foto_medina.png") center/cover no-repeat ;
}

.pie_foto{
    display: flex;
    background-color: black;
    grid-area: 2 / 1 / 2 / 2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

section.texto{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    font-size: 32px;
    align-items: center;
    grid-area: 1 / 4 / 8 / 10;
    background-color: #82A6CB;
}

section.que_hacer{
    grid-area: 1 / 10 / 8 / 13;
    background-color: #82A6CB;
}

section.mapa{
    grid-area: 8 / 4 / 11 / 13;
    background-color: #3667A6;
    background: url("../img/mapa_medina.png") center/cover no-repeat ;
}

section p{
    grid-column: 2;
}

section.que_hacer h2{
    font-size: 30px;
    text-align: center;
}

section.que_hacer li{
    font-size: 24px;
    padding: 7px;
}

@media only screen and (max-width: 1000px) {
    section.foto{
        display: grid;
        grid-template-rows: 1fr 10%;
        grid-template-columns: 1fr;
        grid-area: 1 / 1 / 11 / 4;
        background-color: #3667A6;
        background: url("../img/foto_medina.png") center/cover no-repeat ;
    }

    section.texto{
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        font-size: 32px;
        align-items: center;
        grid-area: 1 / 4 / 8 / 10;
        background-color: #82A6CB;
    }

    section.que_hacer{
        grid-area: 1 / 10 / 8 / 13;
        background-color: #82A6CB;
    }

    section.mapa{
        grid-area: 8 / 4 / 11 / 13;
        background-color: #3667A6;
        background: url("../img/mapa_medina.png") center/cover no-repeat ;
    }


}