@import "footer.css";
@import "header.css";

html, body{
    min-height: 100vh;
    min-width: fit-content;
    margin: 0;
    background-color: #BDD8F1;
    display: flex;
    flex-direction: column;

}

body.dark-mode, html.dark-mode{
    background-color: #0f3460;
    color: #e0e0e0;
}

button.modo{
    grid-area: 1 / 12 / 2 / 13;
    background-color: #3667A6;
    cursor: pointer;
    color: #e0e0e0;
}

button.modo.dark-mode{
    background-color: #16213e;
}

button.dark-mode{
    background-color: #0f3460;
}

a.dark-mode{
    color: #e0e0e0;
}

h1{
    margin-block: auto;
    margin-inline: auto;
    font-weight: normal;
    unicode-bidi: isolate;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}

p{
    margin: 0px;
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}

main{
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 550px);
/*    grid-template-rows: 100px repeat(11, 60px);*/
    padding: 20px;
    gap: 10px;
    justify-content: center;
    min-height: 100%;

}

section{
    min-width: 85%;
    height: 350px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;

}

h2.nombre{
    margin: 0;
    font-weight: normal;
    unicode-bidi: isolate;
    grid-area: 5 / 1 / 6 / 2;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    font-size: 64px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

section.lugar1{
    background: url("../img/Medina-Sidonia.png") center/cover no-repeat ;
}

section.lugar2{
    background: url("../img/Sanlucar.png") center/cover no-repeat ;
}


section.lugar3{
    background: url("../img/Berlin.png") center/cover no-repeat ;
}

section.lugar4{
    background: url("../img/Cadiz.png") center/cover no-repeat ;

}

section.lugar5{
    background: url("../img/Granada.png") center/cover no-repeat ;
}


section.lugar6{
    background-color: #D9D9D9;
}

