@import "header.css";
@import "footer.css";
@import "body.css";

body.dark-mode, html.dark-mode{
    background-color: #0f3460;
    color: #e0e0e0;
}

button.modo{
    grid-area: 1 / 12 / 2 / 13;
    background-color: #3667A6;
    cursor: pointer;
    color: #e0e0e0;
}

button.modo.dark-mode{
    background-color: #16213e;
}

button.dark-mode{
    background-color: #0f3460;
}

a.dark-mode{
    color: #e0e0e0;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}

p{
    margin: 0px;
    text-decoration: none;
    color: #000000;
    font-size: 32px;
}

main{

    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(10, 65px);
    padding: 20px;
    gap: 10px;
    margin: 0 auto;
}

section{
    margin: 5px;
    border-radius: 30px;

}

section.foto{
    display: grid;
    grid-template-rows: 1fr 10%;
    grid-template-columns: 1fr;
    grid-area: 1 / 1 / 11 / 4;
    background-color: #3667A6;
    background: url("../img/foto_medina.png") center/cover no-repeat ;
}

h2.pie_foto{
    font-weight: normal;
    unicode-bidi: isolate;
    margin: 0px;
    font-size: 32px;
    display: flex;
    background-color: black;
    grid-area: 2 / 1 / 2 / 2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

section.texto{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    font-size: 32px;
    align-items: center;
    grid-area: 1 / 4 / 9 / 10;
    background-color: #82A6CB;
}

section.texto.dark-mode{
    background-color: #16213e;
    color: #e0e0e0;
}

section.que_hacer{
    grid-area: 1 / 10 / 9 / 14;
    background-color: #82A6CB;
    font-size-adjust: inherit;
}

section.mapa{
    grid-area: 9 / 4 / 12 / 14;
    background-color: #3667A6;
    background: url("../img/mapa_medina.png") center/cover no-repeat ;
}

section p{
    grid-column: 2;
}
section p.dark-mode{
    color: #e0e0e0;
}

section.que_hacer.dark-mode{
    background-color: #16213e;
    color: #e0e0e0;
}

section.que_hacer h1{
    font-size: 32px;
    text-align: center;
}

section.que_hacer li{
    font-size: 20px;
    padding: 7px;
}

@media only screen and (max-width: 900px) {
    main {
        grid-template-rows: repeat(11, 100px);
        min-width: 680px;
    }

    section.mapa {
        grid-area: 10 / 1 / 12 / 14;
    }

    section.texto {
        grid-area: 1 / 1 / 5 / 14;

    }

    section.texto p {
        font-size: 32px;
    }

    section.foto {
        grid-area: 5 / 1 / 10 / 7;
    }

    section.que_hacer {
        grid-area: 5 / 7 / 10 / 14;
    }

    .pie_foto {
        font-size: 24px;
    }

}