@import "header.css";
@import "footer.css";
@import "body.css";

html, body{
    
    padding: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background:url('../img/pagina_principal.png') center/cover no-repeat fixed;
    margin: 0;
    background-color: #BDD8F1;

}

main{
    flex-grow: 1;
    min-height: auto;
    min-width: 700px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 60px);
    padding: 10px;
    gap: 10px;
    margin: 0 auto;

}
.text_intro{
    padding: 20px;
    font-size: 35px;
    grid-area: 2 / 1 / 5 / 8;
}

.inicio_sesion{
    display: grid;
    grid-template-columns:  0.5fr 2fr 1fr 0.5fr ;
    grid-template-rows: repeat(9, 1fr);
    background-color: #82A6CB;
    border-radius: 30px;
    grid-area: 6 / 1 / 11 / 7;
    padding: 10px;
}

.text_inicia_sesion{
    font-size: 48px;
    grid-area: 2 / 2;
    padding: 5px;
}

.text_email{
    font-size: 32px;
    grid-area: 3 / 2;
    padding: 5px;
}
.text_contrasenia{
    font-size: 32px;
    grid-area: 5 / 2;
    padding: 5px;
}
.text_input_email{
    grid-area: 4 / 2 / 4 / 4;
    padding: 5px;
}
.text_input_contrasenia{
    grid-area: 6 / 2 / 6 / 4;
    padding: 5px;
}

button{
    font-size: 24px;
    background-color: #3667A6;
    grid-area: 8 / 3;
    color: #FFFFFF;
    border: none;

}
.crear_cuenta{
    grid-area: 8 / 2;
}

@media only screen and (max-width: 1200px) {

    main{
        flex-grow: 1;
        min-height: 100vw;
        min-width: 700px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(11, 0.5fr);
        padding: 10px;
        gap: 10px;
        margin: 0 auto;

    }
    .text_intro{
        padding: 20px;
        font-size: 32px;
        grid-area: 2 / 1 / 7 / 9;
    }

    .inicio_sesion{
        display: grid;
        grid-template-columns:  0.5fr 2fr 1fr 0.5fr ;
        grid-template-rows: repeat(9, 1fr);
        background-color: #82A6CB;
        border-radius: 30px;
        grid-area: 5 / 1 / 11 / 9;
        padding: 10px;
    }

    input{
        font-size: 24px;
        height: 25% ;
    }


}

@media only screen and (max-width: 1000px) {
    .text_intro{
        padding: 20px;
        font-size: 32px;
        grid-area: 2 / 1 / 7 / 13;
    }
    .inicio_sesion{
        display: grid;
        grid-template-columns:  0.5fr 2fr 1fr 0.5fr ;
        grid-template-rows: repeat(9, 1fr);
        background-color: #82A6CB;
        border-radius: 30px;
        grid-area: 5/ 1 / 11 / 13;
        padding: 10px;
    }
}